@font-face {
    font-family: 'cb';
    src: url('../fonts/CircularStd-Book.eot');
    src: url('../fonts/CircularStd-Book.woff') format('woff'),
    url('../fonts/CircularStd-Book.ttf') format('truetype'),
    url('../fonts/CircularStd-Book.svg#CircularStd-Book') format('svg'),
    url('../fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype');
}
@font-face {
    font-family: 'cbk';
    src: url('../fonts/CircularStd-Black.eot');
    src: url('../fonts/CircularStd-Black.woff') format('woff'),
    url('../fonts/CircularStd-Black.ttf') format('truetype'),
    url('../fonts/CircularStd-Black.svg#CircularStd-Black') format('svg'),
    url('../fonts/CircularStd-Black.eot?#iefix') format('embedded-opentype');
}


$title: 'cbk';
$body: 'cb';
body {
    font-family: $body;
    font-size: 14px;
    line-height: 150%;
    padding: 0 15px;
    background-image: url('../img/bg-grain.png');
    background-attachment: fixed;
    p {
        margin-bottom: 10px;
        color: #787878;
    }
    main {
        max-width: 1140px;
        margin: auto;
        min-height: calc(100% - 113px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
            font-family: $title;
            font-size: clamp(28px, 3vw, 40px);
            margin-bottom: 30px;
            font-weight: 600;
            line-height: 90%;
            letter-spacing: -1px;
        }
        .ea_logus {
            max-width: 400px;
            margin-bottom: 40px;
        }
        .ea_info {
            border-radius: 8px;
            margin: 0 0 30px;
            width: fit-content;
            max-width: 520px;
            &_wrap {
                display: flex;
                justify-content: space-between;
                max-width: 1000px;
            }
            & h4 {
                letter-spacing: -1px;
                font-size: 24px;
                line-height: 150%;
            }
            & em {
                font-weight: 600;
            }
        }
        iframe {
            border: 1px solid #3a3a3a;
            border-radius: 12px;
        }
    }
}
footer {
    max-width: 1140px;
    margin: auto;
    border-top: 1px solid #e7e7e7;
    padding: 10px 0;
    & ul {
        display: flex;
        gap: 10px;
        & a {
            text-decoration: none;
            color: #787878;
            text-transform: uppercase;
            &:hover {
                color: #c2000b;
            }
        }
        & span {
            color: #e7e7e7;
        }
    }
}
header {
    max-width: 1140px;
    margin: 0 auto 30px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 10px 0;
    .ea_dark {
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        line-height: 100%;
        gap: 6px;
        & .switch {
            background: #b9b9b9;
            width: 36px;
            height: 20px;
            display: inline-flex;
            border-radius: 100px;
            position: relative;
            align-items: center;
            &:before {
                content: '';
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background: #ffffff;
                position: relative;
                left: 2px;
                transition: all 0.2s ease-in-out;
            }
        }
        &.active .switch {
            background: #5cb615;
            &:before {
                left: 18px;
            }
        }
    }
    .ea_lang {
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        gap: 6px;
        & .switch {
            background: #b9b9b9;
            width: 36px;
            height: 20px;
            display: inline-flex;
            border-radius: 100px;
            position: relative;
            align-items: center;
            &:before {
                content: '';
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background: #ffffff;
                position: relative;
                left: 2px;
                transition: all 0.2s ease-in-out;
            }
        }
        &.active .switch {
            background: #5cb615;
            &:before {
                left: 18px;
            }
        }
    }
}
//! Dark Mode
body.dark_mode {
    background: #1b1d22;
    color: #ededed;
    background-image: url('../img/bg-grain-dark.png');
    p {
        color: #bbb;
    }
    main h1 {
        color: #c2000b;
    }
    footer {
        border-color: #3c3c3c;
        & ul {
            & span {
                color: #3c3c3c
            }
            & a {
                color: #bbb;
            }
        }
    }
    .ea_logus {
        filter: invert(1) grayscale(1) brightness(100);
    }
}